{% set execution = hostvars[inventory_hostname].execution|default(None) %}
{% set wasm_execution = hostvars[inventory_hostname].wasm_execution|default(None) %}
{% set archive_node = hostvars[inventory_hostname].archive_node|default(false) %}
{% set chain_path = hostvars[inventory_hostname].chain_path|default(None) %}
{% set parity_db = hostvars[inventory_hostname].parity_db|default(false) %}

[Unit]
Description=Polkadot Node

[Service]
User=polkadot
Group=polkadot
ExecStart=/usr/local/bin/polkadot \
  {% if execution is not none and execution|length %}
  --execution {{ execution }} \
  {% endif %}
  {% if wasm_execution is not none and wasm_execution|length %}
  --wasm-execution {{ wasm_execution }} \
  {% endif %}
  {% if chain_path is not none and chain_path|length %}
  --base-path {{ chain_path }} \
  {% endif %}
  --validator \
  --rpc-methods=Unsafe \
  {% if archive_node is not none and archive_node | bool is sameas true %}
  --pruning=archive \
  {% else %}
  --state-pruning=1000 \
  --blocks-pruning=1000 \
  {% endif %}
  {% if parity_db is not none and parity_db | bool is sameas true %}
  --database paritydb-experimental \
  {% endif %}
  -lsync=warn,afg=warn,babe=warn \
  --name {{ validator_name }} \
  --chain={{ chain }} \
  --telemetry-url '{{ telemetryUrl }} 1'

Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
